.workshopDetailedMainWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #f1f3f4;
  height: 440px;
  margin-left: 60px;
  margin-right: 60px;
}

.randomAssDiv {
  background-color: #f1f3f4;
  padding: 30px;
}

.firstWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  padding: 20px;
  background-color: #f16165;
  color: white;
  height: inherit;
  width: 28%;
}

.secondWrapper {
  height: inherit;
  width: 72%;
}

.workshopImageElement {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.workshopDetailedTitle {
  font-size: 35px;
  font-family: "Righteous", cursive;
}

.workshopDetailedGoal {
  font-family: "Oswald", sans-serif;
  letter-spacing: 1px;
}

.workshopDetailedGoal p {
  cursor: pointer;
}

.moreAboutWorkshopLink:hover {
  transition: 0.2s ease;
  text-decoration: underline;
}
