.articleItem {
  width: 100%;
  height: fit-content;
}

.articleTopBar {
  display: flex;
  align-items: center;
  height: 50px;
  color: white;
  background-color: #ed3237;
  padding-left: 30px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 1px;
  width: 100%;
}

.articleImageTextContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.articleTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 15px;
  height: 400px;
  width: 65%;
  overflow: hidden;
}

.articleImage {
  width: 35%;
  height: 100%;
}

.articleImageElement {
  object-fit: cover;
  width: 100%;
  height: 400px;
}

.articleMainTitle {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  font-size: 30px;
  padding-top: 20px;
}

.articleText {
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  width: 90%;
  font-size: 17px;
  text-align: justify;
}

.readMoreArticle {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  font-size: 17px;
  padding-top: 20px;
}

.readMoreLink {
  padding-left: 10px;
  width: 100%;
}

.allArticlesContainer {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  padding-bottom: 40px;
  min-height: 400px;
}
