.workshopsContainer {
}

.containerWorkshopItem {
  height: 300px;
  width: 300px;
  background-color: yellow;
  color: black;
}

.projectsMainWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.workshopsMainTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 48px;
  font-weight: 600;
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: 4px;
}

.workshopsIntro {
  padding-bottom: 20px;
  font-size: 20px;
  text-align: center;
  font-family: "Oswald", sans-serif;
  padding-left: 70px;
  padding-right: 70px;
}

.workshopsAreasContainer {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  letter-spacing: 3px;
  padding: 50px;
}

.projectFiltersContainer {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 100%;
  justify-content: left;
}

.filtersHeadline {
  font-size: 20px;
  font-family: "Oswald", sans-serif;
}

.projectFiltersSection {
  font-size: 17px;
  font-family: "Oswald", sans-serif;
  letter-spacing: 1px;
  width: 80%;
}

.projectFilteringInputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
}

.sortingContainer {
  width: 200px;
}

.projectFilterAndSortingSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 15%;
  border: 1px solid lightgray;
}

.resetFilters {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  background-color: white;
}

.allProjectsContainer {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  padding-top: 50px;
  margin: 0;
  flex-wrap: wrap;
  gap: 30px;
  background-color: #f1f4f5;
  border: 1px solid lightgray;
}

.projectsSomeWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
}

#iznosSredstava {
  width: 100%;
}

.sortingContainer {
  margin: 0;
}
