.basicInfo {
  display: flex;
  flex-direction: row;
  background-color: #d8d8d8;
  color: black;
  padding: 40px;
  margin-bottom: 10px;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 1%;
  margin-top: 70px;
}

.workshopTitle {
  font-family: "Josefin Sans", sans-serif;
  font-size: 25px;
  font-weight: bold;
}

.firstWorkshopInformation {
  width: 85%;
}

.workshopOptions {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  height: 60px;
  width: 15%;
}

.workshopEditOption {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33%;
  background: #98d8f0;
  cursor: pointer;
  border-radius: 50%;
}

.infoItem {
  font-family: "Alkatra", cursive;
  font-size: 14px;
}

.workshopEditOption img {
  height: 36px;
  width: 36px;
}

.readWorkshopContainer {
  padding-top: 30px;
  background-color: #f1f3f4;
  padding-bottom: 40px;
}

.deleteImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: red;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  cursor: pointer;
}

.customImageDeletionContainer {
  display: flex;
  flex-direction: row;
}

.deleteImageIcon {
  width: 20px;
  height: 20px;
}

.workshopSecondImages {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.workshopInformationImageElement {
  cursor: pointer;
}

.addImagesButton {
  display: flex;
  justify-content: right;
  font-family: "Josefin Sans", sans-serif;
  padding-bottom: 30px;
}
