.workshopInformationContainer {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  padding: 30px;
  font-family: "Josefin Sans", sans-serif;
}

.workshopInformationTitle {
  font-size: 45px;
  font-weight: bold;
}

.workshopInformationAbout {
  font-size: 20px;
}

.informationalText {
  font-size: 18px;
}

.workshopInformationImage img {
  height: 500px;
  width: 100%;
  object-fit: cover;
}
